.container {
  background: white;
  height: calc(100vh - 5rem);
  padding: 1.5rem 4.125rem;
  display: flex;
  gap: 7rem;
  align-items: center;
  margin: 0 auto;
  max-width: 100rem;
}

@media screen and (max-width: 1070px) {
  .container {
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem;
  }
}