* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
select,
button {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

a {
  color: inherit;
  text-decoration: none;
}